.container {
  background-color: aquamarine;
  width: 450px;
  min-height: 500px;
  padding: 20px;
}
h1 {
  margin: 30px 0;
}

#main_input {
  width: 230px;
  height: 35px;
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 16px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  background-color: cadetblue;
}

.add {
  width: 45px;
  height: 45px;
  margin-left: 20px;
  border: none;
  border-radius: 50%;
  background-color: brown;
  color: white;
  font-size: 25px;
}

.list {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 0.2fr 0.2fr;
  gap: 10px;
  background-color: blueviolet;
  margin: 10px;
  width: 230px;
  height: 35px;
  border-radius: 20px;
  margin-left: -50px;
  padding-right: 10px;
}
button {
  border: none;
  background-color: transparent;
}

.fa-trash-arrow-up {
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.fa-regular {
  color: rgb(3, 170, 182);
  font-size: 18px;
}

.updatebtn {
  width: 50px;
  background-color: rgb(226, 198, 43);
  padding: 7px 10px;
  color: white;
  border: none;
  border-radius: 10px;
}

#input_upd {
  width: 130px;
  height: 35px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(21, 96, 99);
}

.fa-angle-right {
  color: rgb(255, 255, 255);
  font-size: 28px;
}
